/* samsung_internet.css - Styles specific to Samsung Internet */
@import "android_chrome.css";

body {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    padding: 60px 10px 5px 10px;
}

img {
    border-radius: 10px;
}

p {
    font-size: 18px;
}

.icon-link {
    touch-action: manipulation;
} 
